

* {   /* Zera todos os espaçamentos e remove decorações e bordas*/
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Segoe UI', sans-serif;
  }

  html{ /* Define as variaveis de cores*/
      --grey-white: #d3d9e2;
      --red: #e83f5b;
      --background: #fbfcff;
      --grey-blue: #a1b2cd;
      --icons-details: #a5b0c1;
  }

  body {      
    
    display: flex;
    height: 100vh; /* View Hegiht */
    width: 100vw; /* View Width */
    background: var(--background);
  }

  .container{
      margin: auto auto;
      width: 60rem;
  }

  .container > div{
      margin-bottom: 0.7rem;
      border-radius: .5rem;      
      padding: .9rem;  
      width: 100%;        
      border: 0.1rem solid var(--grey-blue);
  }

  textarea{
    width: 100%;
    outline: none;
    resize: none;
  }

  textarea::placeholder {
    color: var(--grey-blue);
  }

  .div1 footer{      
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  p{
    color: var(--icons-details);
  }

  p , textarea{
      font-size: 1rem;
  }

  h3{
      margin-bottom: .7rem;
      color: var(--red);
      font-size: 2rem;
  }

  button{
      padding: .7rem;
      border-radius: 0.2rem;
      background:var(--red);
      color: var(--background);
  }